flows (2).json
[
    {
        "id": "d8b14dea0c5b3166",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "665946e223281927",
        "type": "ui_dropdown",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "label": "Kødtype",
        "tooltip": "",
        "place": "Select option",
        "group": "3a7b3f9a1210cfe9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "tom",
                "value": "tom",
                "type": "str"
            },
            {
                "label": "Kalv",
                "value": "Kalv",
                "type": "str"
            },
            {
                "label": "Gris",
                "value": "Gris",
                "type": "str"
            },
            {
                "label": "Kylling",
                "value": "Kylling stegning",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "de1da8c8cc22c521"
            ]
        ]
    },
    {
        "id": "de1da8c8cc22c521",
        "type": "switch",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Kalv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Gris",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Kylling stegning",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 320,
        "y": 420,
        "wires": [
            [
                "69c4d91fb44d14a9",
                "5035e32f6f2f6dd1"
            ],
            [
                "1325f45fbf109c40",
                "5035e32f6f2f6dd1"
            ],
            [
                "2807933071cc76e7",
                "5035e32f6f2f6dd1",
                "d43399bc2d8d35ae",
                "46ae31aa15d6f437"
            ]
        ]
    },
    {
        "id": "1325f45fbf109c40",
        "type": "ui_ui_control",
        "z": "d8b14dea0c5b3166",
        "name": "Gris",
        "events": "all",
        "x": 500,
        "y": 420,
        "wires": [
            [
                "7dcd6b87fb9a39bd"
            ]
        ]
    },
    {
        "id": "2807933071cc76e7",
        "type": "ui_ui_control",
        "z": "d8b14dea0c5b3166",
        "name": "Kylling stegning",
        "events": "all",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "c612937a2ab1150a"
            ]
        ]
    },
    {
        "id": "69c4d91fb44d14a9",
        "type": "ui_ui_control",
        "z": "d8b14dea0c5b3166",
        "name": "Kalv",
        "events": "all",
        "x": 500,
        "y": 380,
        "wires": [
            [
                "dcab6ce78004e1c6"
            ]
        ]
    },
    {
        "id": "dcab6ce78004e1c6",
        "type": "ui_dropdown",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "label": "Stegning kalv",
        "tooltip": "",
        "place": "Select option",
        "group": "75800d223b23a46d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Rød",
                "value": "Kalv Rød",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "Kalv Medium",
                "type": "str"
            },
            {
                "label": "Gennemstegt",
                "value": "Kalv Gennemstegt",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 740,
        "y": 280,
        "wires": [
            [
                "b18ec9236ac0f6a7"
            ]
        ]
    },
    {
        "id": "7dcd6b87fb9a39bd",
        "type": "ui_dropdown",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "label": "Stegning gris",
        "tooltip": "",
        "place": "Select option",
        "group": "d5cc4ec50b33805f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Rød",
                "value": "Gris Rød",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "Gris Medium",
                "type": "str"
            },
            {
                "label": "Gennemstegt",
                "value": "Gris gennemstegt",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "e875a82dcf77ba57"
            ]
        ]
    },
    {
        "id": "5035e32f6f2f6dd1",
        "type": "debug",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 340,
        "wires": []
    },
    {
        "id": "2011b1bee1611ddc",
        "type": "ui_text",
        "z": "d8b14dea0c5b3166",
        "group": "3a7b3f9a1210cfe9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Sej tekst",
        "label": "Du må gerne vælge den slags kød som skal laves. Når du har valgt en slags, bliver du smidt til næste side.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 130,
        "y": 380,
        "wires": []
    },
    {
        "id": "b18ec9236ac0f6a7",
        "type": "switch",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Kalv Rød",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Kalv Medium",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Kalv Gennemstegt",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 950,
        "y": 200,
        "wires": [
            [
                "52029cdeca430dc3",
                "eae28d7731f6c0e0",
                "b0fca988039e2ed5"
            ],
            [
                "08023cd3ba29627f",
                "eae28d7731f6c0e0",
                "1f2588131fd10aa1"
            ],
            [
                "9ba62e8a13473337",
                "eae28d7731f6c0e0",
                "24e47ec31856fa14"
            ]
        ]
    },
    {
        "id": "e875a82dcf77ba57",
        "type": "switch",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Gris Medium",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Gris gennemstegt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 440,
        "wires": [
            [
                "d5229e547f9f27f5",
                "596f0e743266164a",
                "6d651c09b7443f03"
            ],
            [
                "e3662a0528f4453c",
                "d5229e547f9f27f5",
                "603f3e7460a854d5"
            ]
        ]
    },
    {
        "id": "52029cdeca430dc3",
        "type": "ui_ui_control",
        "z": "d8b14dea0c5b3166",
        "name": "Kalv Rød",
        "events": "all",
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "d4eaeda05d20dbb6"
            ]
        ]
    },
    {
        "id": "08023cd3ba29627f",
        "type": "ui_ui_control",
        "z": "d8b14dea0c5b3166",
        "name": "Kalv Medium",
        "events": "all",
        "x": 1150,
        "y": 200,
        "wires": [
            [
                "e2cb58ca658d442d"
            ]
        ]
    },
    {
        "id": "9ba62e8a13473337",
        "type": "ui_ui_control",
        "z": "d8b14dea0c5b3166",
        "name": "Kalv Gennemstegt",
        "events": "all",
        "x": 1170,
        "y": 240,
        "wires": [
            [
                "afd757348d77a743"
            ]
        ]
    },
    {
        "id": "eae28d7731f6c0e0",
        "type": "debug",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "596f0e743266164a",
        "type": "ui_ui_control",
        "z": "d8b14dea0c5b3166",
        "name": "Gris Medium",
        "events": "all",
        "x": 1130,
        "y": 440,
        "wires": [
            [
                "85c831e834499e85"
            ]
        ]
    },
    {
        "id": "e3662a0528f4453c",
        "type": "ui_ui_control",
        "z": "d8b14dea0c5b3166",
        "name": "Gris gennemstegt",
        "events": "all",
        "x": 1150,
        "y": 480,
        "wires": [
            [
                "afd60ea73504f5d9"
            ]
        ]
    },
    {
        "id": "d5229e547f9f27f5",
        "type": "debug",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "9459ff207bec5054",
        "type": "ui_text",
        "z": "d8b14dea0c5b3166",
        "group": "d5cc4ec50b33805f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Gris tekst",
        "label": "Her skal du vælge hvordan dit kød skal steges",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "f29bd2442b8af4a1",
        "type": "ui_text",
        "z": "d8b14dea0c5b3166",
        "group": "75800d223b23a46d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Kalv tekst",
        "label": "Her skal du vælge hvordan dit kød skal steges",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "d4eaeda05d20dbb6",
        "type": "ui_gauge",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "4c7e4e50fd499496",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1390,
        "y": 60,
        "wires": []
    },
    {
        "id": "40b0d852e4fbc5a9",
        "type": "ui_toast",
        "z": "d8b14dea0c5b3166",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Dit KØd er 58 grader varmt aka varmen til rødt kød",
        "name": "",
        "x": 1540,
        "y": 20,
        "wires": []
    },
    {
        "id": "e2cb58ca658d442d",
        "type": "ui_gauge",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "0562936a51c32d61",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1410,
        "y": 180,
        "wires": []
    },
    {
        "id": "828a948acece6e31",
        "type": "ui_toast",
        "z": "d8b14dea0c5b3166",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Nu er dit kød 60 grader varmt aka nærmest varmt nok til medium",
        "name": "",
        "x": 1680,
        "y": 140,
        "wires": []
    },
    {
        "id": "cc28e75bc32c5b69",
        "type": "switch",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1410,
        "y": 140,
        "wires": [
            [
                "1f2588131fd10aa1"
            ]
        ]
    },
    {
        "id": "afd757348d77a743",
        "type": "ui_gauge",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "ac5b01b69755fbe1",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1390,
        "y": 300,
        "wires": []
    },
    {
        "id": "eb208db3e86f5d85",
        "type": "switch",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "65",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1390,
        "y": 260,
        "wires": [
            [
                "24e47ec31856fa14"
            ]
        ]
    },
    {
        "id": "85c831e834499e85",
        "type": "ui_gauge",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "4af2b6231bec426f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1370,
        "y": 460,
        "wires": []
    },
    {
        "id": "afd60ea73504f5d9",
        "type": "ui_gauge",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "5f3ad3fe9d1cbd98",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1350,
        "y": 580,
        "wires": []
    },
    {
        "id": "1b7315f51f6b3b40",
        "type": "inject",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "59e5f0093599d87b",
        "type": "comment",
        "z": "d8b14dea0c5b3166",
        "name": "RaspberryPi",
        "info": "",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "7a14974db51b352d",
        "type": "function",
        "z": "d8b14dea0c5b3166",
        "name": "celsius",
        "func": "var adcVal = msg.payload;\n/*\n//beregner spænding\n    var volts = (adcVal * 3.3) / 1023;\n\n//beregner spænding https://dev.to/adamkdean/spi-with-mcp3008-adc-chip-tmp36-analogue-temp-sensor-b3c\n    var tempC = volts * 12.22;\n\nmsg.payload = tempC;\n110.8*10^-0.003\n*/\n\n//Her bruger vi vores funktion fra excel arket, til at tilnærme os en temperatur\n//ved at erstatte x med vores adc værdi.\n//Math.pow er en måde at opløfte et tal i et andet. Math.E er eulers tal.\n//msg.payload = 110.8*Math.pow(Math.E , -0.003 * adcVal);\n\n\nmsg.payload = Math.round(116.36*Math.pow(Math.E , -0.003 * adcVal));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "d4eaeda05d20dbb6",
                "e2cb58ca658d442d",
                "afd757348d77a743",
                "85c831e834499e85",
                "afd60ea73504f5d9",
                "1d56cdcee61c2672",
                "cc28e75bc32c5b69",
                "eb208db3e86f5d85",
                "2ce8c8c952b2ee24",
                "87ab24f863a17b57",
                "7bcd9578ea35c510"
            ]
        ]
    },
    {
        "id": "2ce8c8c952b2ee24",
        "type": "switch",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "65",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1370,
        "y": 420,
        "wires": [
            [
                "6d651c09b7443f03"
            ]
        ]
    },
    {
        "id": "87ab24f863a17b57",
        "type": "switch",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1350,
        "y": 540,
        "wires": [
            [
                "603f3e7460a854d5"
            ]
        ]
    },
    {
        "id": "c612937a2ab1150a",
        "type": "ui_gauge",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "6483a2cf2f4eb307",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "a599e26f6e369706",
        "type": "ui_button",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "5f3ad3fe9d1cbd98",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log temperatur",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1380,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d5f868f8e9f94213",
        "type": "ui_button",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "4af2b6231bec426f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log temperatur",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1400,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "276f207db0546e4e",
        "type": "ui_button",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "ac5b01b69755fbe1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log temperatur",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5c19714fe83259cb",
        "type": "ui_button",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "0562936a51c32d61",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log temperatur",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1440,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "07a3547e4c9a94ef",
        "type": "ui_button",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "4c7e4e50fd499496",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log temperatur",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1420,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4a09432c551e6056",
        "type": "comment",
        "z": "d8b14dea0c5b3166",
        "name": "RaspberryPi",
        "info": "",
        "x": 2005.555419921875,
        "y": 461.9999694824219,
        "wires": []
    },
    {
        "id": "4bfdd643ea94dbaa",
        "type": "function",
        "z": "d8b14dea0c5b3166",
        "name": "celsius",
        "func": "var adcVal = msg.payload;\n/*\n//beregner spænding\n    var volts = (adcVal * 3.3) / 1023;\n\n//beregner spænding https://dev.to/adamkdean/spi-with-mcp3008-adc-chip-tmp36-analogue-temp-sensor-b3c\n    var tempC = volts * 12.22;\n\nmsg.payload = tempC;\n110.8*10^-0.003\n*/\n\n//Her bruger vi vores funktion fra excel arket, til at tilnærme os en temperatur\n//ved at erstatte x med vores adc værdi.\n//Math.pow er en måde at opløfte et tal i et andet. Math.E er eulers tal.\n//msg.payload = 110.8*Math.pow(Math.E , -0.003 * adcVal);\n\n\nmsg.payload = 116.36*Math.pow(Math.E , -0.003 * adcVal);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2214,
        "y": 464.2221984863281,
        "wires": [
            [
                "3178fb0fab9f72e0",
                "6a3d1501e557a4c9"
            ]
        ]
    },
    {
        "id": "3178fb0fab9f72e0",
        "type": "debug",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2230,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a3d1501e557a4c9",
        "type": "file",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "filename": "/home/pi/Documents/Logs/sejtemp.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2470,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "87f7e02bbb86770c",
        "type": "ui_toast",
        "z": "d8b14dea0c5b3166",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Din gris er medium nu (70 grader)",
        "name": "",
        "x": 1640,
        "y": 420,
        "wires": []
    },
    {
        "id": "a3331cd54df7d19a",
        "type": "ui_toast",
        "z": "d8b14dea0c5b3166",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Din grisekød er gennemstegt (65 grader)",
        "name": "",
        "x": 1620,
        "y": 540,
        "wires": []
    },
    {
        "id": "9ff8717b46ce5f66",
        "type": "ui_toast",
        "z": "d8b14dea0c5b3166",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Din  kalv er gennemstegt nu (65 grader)",
        "name": "",
        "x": 1660,
        "y": 260,
        "wires": []
    },
    {
        "id": "173cd09c72950d2c",
        "type": "ui_button",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "group": "6483a2cf2f4eb307",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log temperatur",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 760,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "77b24327c4362118",
        "type": "ui_toast",
        "z": "d8b14dea0c5b3166",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Din kylling har minum varmen (62 grader)",
        "name": "",
        "x": 820,
        "y": 620,
        "wires": []
    },
    {
        "id": "bb98ac09fc48fed7",
        "type": "ui_toast",
        "z": "d8b14dea0c5b3166",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Din kylling er gennemstegt nu (75 grader)",
        "name": "",
        "x": 820,
        "y": 660,
        "wires": []
    },
    {
        "id": "b0fca988039e2ed5",
        "type": "join",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1390,
        "y": 20,
        "wires": [
            [
                "40b0d852e4fbc5a9"
            ]
        ]
    },
    {
        "id": "1d56cdcee61c2672",
        "type": "switch",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "58",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 20,
        "wires": [
            [
                "b0fca988039e2ed5"
            ]
        ]
    },
    {
        "id": "1f2588131fd10aa1",
        "type": "join",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 140,
        "wires": [
            [
                "828a948acece6e31"
            ]
        ]
    },
    {
        "id": "24e47ec31856fa14",
        "type": "join",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1510,
        "y": 260,
        "wires": [
            [
                "9ff8717b46ce5f66"
            ]
        ]
    },
    {
        "id": "6d651c09b7443f03",
        "type": "join",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1490,
        "y": 420,
        "wires": [
            [
                "87f7e02bbb86770c"
            ]
        ]
    },
    {
        "id": "603f3e7460a854d5",
        "type": "join",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1470,
        "y": 540,
        "wires": [
            [
                "a3331cd54df7d19a"
            ]
        ]
    },
    {
        "id": "7bcd9578ea35c510",
        "type": "switch",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "62",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "75",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 640,
        "wires": [
            [
                "d43399bc2d8d35ae"
            ],
            [
                "46ae31aa15d6f437"
            ]
        ]
    },
    {
        "id": "d43399bc2d8d35ae",
        "type": "join",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 650,
        "y": 620,
        "wires": [
            [
                "77b24327c4362118"
            ]
        ]
    },
    {
        "id": "46ae31aa15d6f437",
        "type": "join",
        "z": "d8b14dea0c5b3166",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 650,
        "y": 660,
        "wires": [
            [
                "bb98ac09fc48fed7"
            ]
        ]
    },
    {
        "id": "3a7b3f9a1210cfe9",
        "type": "ui_group",
        "name": "Start Menu",
        "tab": "79a339a3c634d850",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "75800d223b23a46d",
        "type": "ui_group",
        "name": "Kalv",
        "tab": "8edd2ebf7ac1b42c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d5cc4ec50b33805f",
        "type": "ui_group",
        "name": "Gris",
        "tab": "9aa2ac2fb0ce1c7a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4c7e4e50fd499496",
        "type": "ui_group",
        "name": "Kalv Rød",
        "tab": "d520983f11c23130",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0562936a51c32d61",
        "type": "ui_group",
        "name": "Kalv Medium",
        "tab": "d1604a145e629c38",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ac5b01b69755fbe1",
        "type": "ui_group",
        "name": "Kalv Gennemstegt",
        "tab": "dc6d436b4dedf917",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4af2b6231bec426f",
        "type": "ui_group",
        "name": "Gris Medium",
        "tab": "f1aabf550721cb74",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5f3ad3fe9d1cbd98",
        "type": "ui_group",
        "name": "Gris gennemstegt",
        "tab": "2225fe601674a15c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6483a2cf2f4eb307",
        "type": "ui_group",
        "name": "Kylling stegning",
        "tab": "1ba90f21d71be508",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "79a339a3c634d850",
        "type": "ui_tab",
        "name": "Start Menu",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8edd2ebf7ac1b42c",
        "type": "ui_tab",
        "name": "Kalv",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9aa2ac2fb0ce1c7a",
        "type": "ui_tab",
        "name": "Gris",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d520983f11c23130",
        "type": "ui_tab",
        "name": "Kalv Rød",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1604a145e629c38",
        "type": "ui_tab",
        "name": "Kalv Medium",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc6d436b4dedf917",
        "type": "ui_tab",
        "name": "Kalv Gennemstegt",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f1aabf550721cb74",
        "type": "ui_tab",
        "name": "Gris Medium",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2225fe601674a15c",
        "type": "ui_tab",
        "name": "Gris gennemstegt",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1ba90f21d71be508",
        "type": "ui_tab",
        "name": "Kylling stegning",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]