StegetermometerMain.json
[{"id":"f957487d.5d27c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a16bcab1.6f49a8","type":"ui_gauge","z":"f957487d.5d27c8","name":"","group":"8a1cff6f.18dd68","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"Grader","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":160,"wires":[]},{"id":"8fee7e7e78db3620","type":"ui_dropdown","z":"f957487d.5d27c8","name":"","label":"Kødtype","tooltip":"","place":"Select option","group":"8a1cff6f.18dd68","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Kalv","type":"str"},{"label":"","value":"Gris","type":"str"},{"label":"","value":"Kylling","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":120,"y":174,"wires":[["c7c91965f4d67758"]]},{"id":"add5596326ecb44a","type":"ui_dropdown","z":"f957487d.5d27c8","name":"","label":"Stegning","tooltip":"","place":"Select option","group":"8a1cff6f.18dd68","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Rød","type":"str"},{"label":"","value":"Medium","type":"str"},{"label":"","value":"Gennemstegt","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":400,"y":240,"wires":[["a16bcab1.6f49a8","fbed75990fedf3dd","ec65d8c5246ed99a","dcc42426c67d9d77"]]},{"id":"806babc66255241b","type":"ui_toast","z":"f957487d.5d27c8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Kødet er færdigt!","name":"","x":850,"y":520,"wires":[[]]},{"id":"67a823a38b454d81","type":"switch","z":"f957487d.5d27c8","name":"Gennemstegt","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"68","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":500,"wires":[["806babc66255241b"]]},{"id":"c542e6cd5bb8c44c","type":"switch","z":"f957487d.5d27c8","name":"Rød","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"57","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":380,"wires":[["806babc66255241b"]]},{"id":"3e1b47672fe9d054","type":"switch","z":"f957487d.5d27c8","name":"Medium","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"63","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":440,"wires":[["806babc66255241b"]]},{"id":"c7c91965f4d67758","type":"switch","z":"f957487d.5d27c8","name":"Kødswitch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Kalv","vt":"str"},{"t":"eq","v":"Gris","vt":"str"},{"t":"eq","v":"Kylling","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":300,"wires":[["fbed75990fedf3dd","add5596326ecb44a"],["ec65d8c5246ed99a"],["dcc42426c67d9d77"]]},{"id":"fbed75990fedf3dd","type":"switch","z":"f957487d.5d27c8","name":"KalvStegning","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Rød","vt":"str"},{"t":"eq","v":"Medium","vt":"str"},{"t":"eq","v":"Gennemstegt","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":500,"wires":[["c542e6cd5bb8c44c"],["3e1b47672fe9d054"],["67a823a38b454d81"]]},{"id":"42c50ab01541b19d","type":"switch","z":"f957487d.5d27c8","name":"Gennemstegt","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"70","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":580,"wires":[["806babc66255241b"]]},{"id":"ec65d8c5246ed99a","type":"switch","z":"f957487d.5d27c8","name":"GrisStegning","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Gennemstegt","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":580,"wires":[["42c50ab01541b19d"]]},{"id":"dcc42426c67d9d77","type":"switch","z":"f957487d.5d27c8","name":"KyllingStegning","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Gennemstegt","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":640,"wires":[["3deb2da8a7d23732"]]},{"id":"3deb2da8a7d23732","type":"switch","z":"f957487d.5d27c8","name":"Gennemstegt","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"75","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":640,"wires":[["806babc66255241b"]]},{"id":"3c012cce68dc6b42","type":"inject","z":"f957487d.5d27c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90.20001220703125,"y":31.399993896484375,"wires":[["b578b8b17a08e4b9"]]},{"id":"e5f3a7c623a7f428","type":"function","z":"f957487d.5d27c8","name":"celsius","func":"var adcVal = msg.payload;\n/*\n//beregner spænding\n    var volts = (adcVal * 3.3) / 1023;\n\n//beregner spænding https://dev.to/adamkdean/spi-with-mcp3008-adc-chip-tmp36-analogue-temp-sensor-b3c\n    var tempC = volts * 12.22;\n\nmsg.payload = tempC;\n110.8*10^-0.003\n*/\n\n//Her bruger vi vores funktion fra excel arket, til at tilnærme os en temperatur\n//ved at erstatte x med vores adc værdi.\n//Math.pow er en måde at opløfte et tal i et andet. Math.E er eulers tal.\n//msg.payload = 110.8*Math.pow(Math.E , -0.003 * adcVal);\n\n\nmsg.payload = 116.36*Math.pow(Math.E , -0.003 * adcVal);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":458.20001220703125,"y":169,"wires":[["a16bcab1.6f49a8","c542e6cd5bb8c44c","3e1b47672fe9d054","67a823a38b454d81"]]},{"id":"b578b8b17a08e4b9","type":"pimcp3008","z":"f957487d.5d27c8","name":"termometer","dev":"3008","pin":0,"dnum":0,"bus":0,"x":276.99998474121094,"y":32.19999694824219,"wires":[["e5f3a7c623a7f428"]]},{"id":"8a1cff6f.18dd68","type":"ui_group","name":"Group 1","tab":"5216849b.c9e56c","order":1,"disp":true,"width":6},{"id":"5216849b.c9e56c","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]